*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section{
  height: 100vh;
  font-size: 4rem;
  background: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.light{
  background: #fff;
  color: #161616;
}
h1{
  color: rgb(150, 150, 150);
  font-size: 8rem;
  cursor: pointer;
}
h6{
  margin-top: 40px;
  font-family: monospace;
}

span{
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateY(50px);
  display: inline-block;
}
span.fade{
  opacity: 1;
  transform: translateY(0px);
}
/*span.fade:hover{
  color: #0078D7;
}*/
