*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Eksell-Large;
}
body{

  background: #212121;
  color: #eeeeee;
  display: block;
  overflow: hidden;
}
section{
  height: 100vh;
  font-size: 4rem;
  background: #212121;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
section.light{
  background: #eeeeee;
  color: #212121;
}
body.light{
  background: #eeeeee;
  color: #212121;
}
nav{

    background: transparent;
display: flex;
/*justify-content: center;*/
align-items: center;
flex-direction: column;
overflow: hidden;
}

nav.light{

    background: transparent;
  color: #161616;
}
h6.light{
  background: #eeeeee;
  color: #161616;
}
h1.click{
  display: block;
  color: rgb(150, 150, 150);
  font-size: 8rem;
  cursor: pointer;
}
h6{
  padding-top: 5vh;
  font-size: 2rem;
  font-family: monospace;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.social{
  background: transparent;
  right: 0;
  padding: 0;
  width: 100px;
  height: auto;
  position: fixed;
  height: 100%;
  overflow: hidden;
  text-align: center;

}
.link1{
  margin-left: 10px;
    margin-right: 10px;
      margin-bottom: 10px;
        margin-top: 120px;
  width: 30px;
   fill: rgb(150, 150, 150);
}
.links{
  margin: 10px;
  width: 30px;
   fill: rgb(150, 150, 150);
}
.link1:hover{
  fill: #eeeeee;
}
.links:hover{
  fill: #eeeeee;
}
nav.light.social svg:hover{
  fill: #212121;
}
.sidebar a {
  display: block;
  color: rgb(150, 150, 150);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: transparent;
  color: #eeeeee;
}

/* Links on mouse-over*/
.sidebar a:hover:not(.active) {
  color: #eeeeee;
}
nav.light.sidebar a:hover{
  color:#212121;
}

nav.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  nav.content {margin-left: 0;}

  h1.click{
    font-size: 6rem;
    cursor: pointer;
  }
  .link1{
    margin-left: 10px;
      margin-right: 10px;
        margin-bottom: 10px;
          margin-top: 10px;
    width: 30px;
     fill: rgb(150, 150, 150);
  }
  h6{

    cursor: pointer;
  }
  section{
    font-size: 3rem;
      height: 80vh;
  }
  .svg{
    display: none;
  }
  nav.sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  }
.social{
    background: transparent;
    top: 90vh;
    left: 0;
    right: 0;
    width: auto;
    position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;
    text-align: center;
  }
  nav.content {margin-left: 0;}

    h1.click{
      font-size: 4rem;
      cursor: pointer;
    }
    section{
      font-size: 2rem;

        height: 90vh;
    }
    h6{
      font-size: 1.5rem;
      cursor: pointer;

    }
    .svg{
      display: none;
    }
}
@media screen and (max-width: 280px) {
  /*.sidebar a {
    text-align: center;
    float: none;
  }*/
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;
    text-align: center;
  }
  nav.content {margin-left: 0;}

    h1.click{
      font-size: 2rem;
    }
    section{
      font-size: 1rem;
    }
    h6{
      font-size: 0.5rem;

    }
    .svg{
      display: none;
    }
}
}
